<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock-paper-scissors game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="overlay">
      <h1>Rock-Paper-Scissors game</h1>
      <p>choose one</p>
      <form action="/" method="POST">
        <div>
          <button name="choice" value="rock" type="submit" class="rock"> </button>
          <button name="choice" value="paper" type="submit" class="paper"> </button>
          <button name="choice" value="scissors" type="submit" class="scissors"> </button>
        </div>
      </form>
      <p>You choose: {{ players_choice }}</p>
      <p>Computer chooses: {{ computer_choice }}</p>
      <p>{{ result }}</p>
    </div>
  </body>
</html>
